<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/default}"></html>

	<th:block layout:fragment="header" th:insert="~{@{/fragments/header}}"></th:block>
	
	<body id="page-top">
		<div id="wrapper">
			<!-- 사이드바 -->
			<th:block layout:fragment="sidebar" th:insert="~{@{/fragments/sidebar}}"></th:block>
			
			<div id="content-wrapper" class="d-flex flex-column">
			
				<th:block layout:fragment="topbar" th:insert="~{@{/fragments/topbar}}"></th:block>
				
				<div id="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1">당일 판매량</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id="dailySalesCount"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-warning shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">당일 판매 금액</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id="dailySalesAmount"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">월간 판매 건수</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id="monthlySalesCount"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">월간 판매 금액</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id="monthlySalesAmount"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- Area Chart -->
							<div class="col-xl-8 col-lg-7">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">월별 판매 금액</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<div class="chart-area">
											<canvas id="monthlySalesChart"></canvas>
										</div>
									</div>
								</div>
							</div>
							<!-- Pie Chart -->
							<div class="col-xl-4 col-lg-5">
								<div class="card shadow mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">Best 메뉴 5</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<div class="chart-pie pt-4 pb-2">
											<canvas id="menuPieChart"></canvas>
										</div>
										<div class="mt-4 text-center small" id="menuLegend"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<th:block layout:fragment="footer" th:insert="~{@{/fragments/footer}}"></th:block>
				</div>
		</div>
		
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>
		
	<th:block layout:fragment="scripts" th:insert="~{@{/fragments/scripts}}"></th:block>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/dashboard.js}"></script>
</body>
